<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Groovey</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

    <!-- <link href="packages/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css"> -->
    <link href="packages/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/theme.css" type="text/css" />

</head>

<body class="wy-body-for-nav" role="document">

    <div class="wy-grid-for-nav">


        <!-- Navigation -->

        <nav data-toggle="wy-nav-shift" class="wy-nav-side">
            <div class="wy-side-nav-search">
                <a href="index.html" class="fa fa-home"> Mocha</a>
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">


                    {{MENU|raw}}

                  <!--
                   <ul>
                    <li class="toctree-l1"><a class="reference internal" href="network.html">Networks</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="blob.html">Blob</a></li>
                    <li class="toctree-l1"><a class="reference internal" href="layers/index.html">Layers</a></li>
                    <li class="toctree-l1 current"><a class="current reference internal" href="">Mocha Backends</a></li>
                    </ul>
                 -->


            </div>

        </nav>



        <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

            <!-- Top header   -->

            <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
                <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
                <a href="index.html">Mocha</a>
            </nav>



            <div class="wy-nav-content">
                <div class="rst-content">
                    <div role="navigation" aria-label="breadcrumbs navigation">
                        <ul class="wy-breadcrumbs">
                            <li><a href="index.html">Docs</a> &raquo;</li>
                            <li>Mocha Backends</li>
                        </ul>
                        <hr/>
                    </div>
                    <div role="main" class="document">
                        <div class="section" id="mocha-backends">
                            <h1>Mocha Backends</h1>
                            <p>A backend in Mocha is a component that carries out actual numerical computation. Mocha is designed to support multiple backends, and switching between different backends should be almost transparent to the rest of the world.</p>
                        </div>
                    </div>

                    <footer>
                        <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
                            <a href="layers/overview.html" class="btn btn-neutral" title="Overview">
                                <span class="fa fa-arrow-circle-left">&nbsp;</span>Previous
                            </a>
                        </div>
                        <hr/>
                        <div role="contentinfo">
                            <p>
                                &copy; Copyright Groovey.
                            </p>
                        </div>
                    </footer>
                </div>
            </div>

        </section>

    </div>


</body>

</html>
